@charset "UTF-8";

body {
    background-color: #1B4B61;
    font-family: Arial, Helvetica, sans-serif;

}
header {
    background-color: #2E7DA3;
    padding: 5px;
    margin: auto;
}

header > h1 {
    color:rgb(255, 255, 255) ;
    font-weight: bold;
    text-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    background-color: #ffca43;
    padding-left: 4px;
    border-radius: 5px;
}

nav {
    padding: 2px;
    background-color: #3FADE0;
}

nav > a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 2px;
    font-weight: bold;
}

nav > a:hover {
    color: #ffca43;
    text-decoration: underline;
    
}

main {
    background-color: #389AC7;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);;
}

section > h2 {
    color: white;
    text-decoration: underline;
}

section > p {
    color: white;
    text-align: justify;
    text-indent: 30px;
}

section > article {
    text-align: justify;
    color: white;
    text-indent: 30px;
}

section > aside {
    background-color:#0a0122d2 ;
    color: white;
    padding: 4px;
    margin: 0;
}

aside > p{
    margin: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 2px;
}
footer > p {
    text-align: center;
    margin: 0px;
}

div {
    display: inline-block;
}

div#bola {
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    
}

#bola:hover {
    background-image: linear-gradient(to bottom, green, rgb(3, 250, 3));
    box-shadow: 4px 6px 17px 0px black;
}

div#bola02 {
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

#bola02:hover {
    background-image: linear-gradient(to bottom, rgb(255, 255, 0), rgb(141, 139, 0));
    box-shadow: 2px 5px 11px 0px black;
}